#tortenet{
    text-align: center;
}

.szoveg .col-4{
    padding: 7%;
    padding-top: 3%;
    text-align: center;
}

body{
    background-color: #E0E0E0;
    overflow-x: hidden;
}

p{
    font-size: 120%;
}

#ujAutok{
    text-align: center;
}

img{
    width: 100%;
    float: right;
    
}

.szoveg .col-6{
    padding: 15%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

hr{
    border: 1px solid black;
}

.autok{
    text-align: center;
}